*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #171717;
    color: #fff;
}
.centralizar{
    margin-top: 5px;
    position: relative;      
}
.card{
    border: solid 5px rgba(202, 201, 201, 0.842);
    margin:10px;
    width: 250px; 
    background-color: #171717;
}
.controle{
    margin: 18px;
    width: 50px;
    background-color:rgba(255, 255, 255, 0);
    border: solid 1px rgb(250, 250, 250);
}
.bg-footer{
    position: relative;
    background-image: url(./img/bg-centralizar.jpg);
    color: rgb(0, 0, 0);
    font-weight: bolder;   
    
}
.leftSide{
    position: absolute;
    background: #ffffff;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
   width: 100%;
   height: 100%;
   top: 0; 
   left: 0;
   opacity: 0.25;  
}
.bg-footer ul li{
    list-style: none;
}
.bg-footer ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight: bolder;
}
.fab{
    color: #171717;
    font-weight: bolder;
}

.none{
    display: none;
}
.imagemPokeBusca{

}
.PokeDescricaoBloco{
    
}