*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'MuseoModerno', cursive;
}
/* logo */
.logo{
    font-size: 50px;
    font-family: 'MuseoModerno', cursive;
    color: #222;
    text-shadow: 3px 1px 3px rgb(150, 225, 255);
    background-color: #e5fafa;
    text-align: center;
    margin-bottom: 1px;

}
/* card */
.card{
    width: 200px;
    height: 500px;
    border: none;
 }
 .card-img-top{
     padding: 10px;
 }
 .card-title{
     font-size: 20px;
     margin-left: -15px;
 }
 .cardHabilidade ul{
     list-style: none;
     margin-left: -15px;
     overflow:  hidden;
     height: 175px;
}
 ::-webkit-scrollbar {
    width: 0px;
}
/* controle */
.cardBusca{
    border-bottom: solid 2px rgba(34, 34, 34, 0.336);
}
.controle{
    padding: 10px;
    border: none;
    margin: 5px 0px;
    background-color: #e5fafa;
    
}
/* card de busca */
#telaDeBusca{
    margin-top: 10px;
}
#pokeHabilidades ul{
    list-style: none;
    margin: 5px;
}
#pokeHabilidades ul li{
    list-style: none;
    margin: 5px;
    font-weight: 700;
    border-bottom: solid 2px rgba(34, 34, 34, 0.336);
}
.botaoCLose{
border: none;
font-size: 50px;
background-color: white;
color: #222;

}


/* footer */
.bg-footer{
    background-color: #e5fafa;
    border: solid 2px #eee;
    padding-bottom: 40px
}
.bg-footer ul{
    width: 250px;
}
.bg-footer ul li{
    list-style: none;
}
.bg-footer ul li a{
   color: black;
}
.fab{
    font-size: 30px;
}
/* função */
.none{
    display: none;
}